.badge-efectivo {
  background-color: #28a745;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.badge-tc {
  background-color: #007bff;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.badge-td {
  background-color: #6f42c1;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
}